/**{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #66A182;
}
.form-body{
            width:400px;
            min-width: 300px;
            border-radius: 10px;
            border-top-left-radius:50px ;
            border-bottom-right-radius: 50px;
            border: solid 2px #E8C2CA ;
            margin: 10px;
}
.form-body img{
    width: 150px;
    display: block;
    margin: 20px auto;
}
.text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #E8C2CA;
    margin-bottom: 25px;
}
.form-body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #E8C2CA;
    border: 1px solid #E8C2CA;
    border-radius: 2px;
    font-family:Verdana, Tahoma, sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}
.form-body input[type="password"]{
  margin-top: 20px;
}
::placeholder{
    font-size: 0.7rem;
    color: aliceblue;
}
.form-body input:hover{
    transition: .5s;
    border: 1px solid #2C363F;
    color:#2C363F;
}
.form-body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom:20px;
    height: 40px;
    width: 78%;
    background: transparent;
    color: aliceblue;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 1px solid #fff;
    transition: .5s;
}
.form-body button:hover{
    color: aliceblue;
    border: 2px solid  #E8C2CA;
}
